<?xml version="1.0"?>
<robot name="right_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:arg name="header" default="right_"/>
  <!-- <xacro:property name="table_height" value="0.845"/> -->


  <xacro:arg name="ur_type" default="ur3e"/>
  <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  
  <!-- ROBOT MOUNT 1 + MANIPULATOR-->
  <!-- <link name="robot_mount_1"/> -->
  <joint name="world_to_$(arg header)robot" type="fixed">
    <parent link="world"/>
    <child link="$(arg header)base_link"/>
    <origin xyz="0.9144 0.5588 0.845" rpy="0 0 ${3*pi/2}" />
    <!-- <origin xyz="0.9144 0.5588 ${table_height}" rpy="0 0 ${3*pi/2}" /> -->
  </joint>
  
  <xacro:ur_robot
    name="$(arg ur_type)"
    tf_prefix="$(arg header)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
    kinematics_parameters_file="$(arg kinematics_parameters_file)"
    physical_parameters_file="$(arg physical_parameters_file)"
    visual_parameters_file="$(arg visual_parameters_file)"
  >
    <origin xyz="0.9144 0.5588 0.845" rpy="0 0 ${3*pi/2}" />
    <!-- <origin xyz="0.9144 0.5588 ${table_height}" rpy="0 0 ${3*pi/2}" /> -->
    <!-- <origin xyz="0 0 0" rpy="0 0 0" /> -->
  </xacro:ur_robot>

</robot>