<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <!-- TABLE -->
    <joint name="table_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="table" />
    </joint>
    <link name="table">
      <visual>
        <geometry>
          <mesh filename="package://workspace_test/meshes/workbench.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0.762 -0.845"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://workspace_test/meshes/workbench.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0.762 -0.845"/>
      </collision>
    </link>

    <!-- CAMERA MOUNT -->
    <joint name="table_to_camera_mount" type="fixed">
      <parent link="table"/>
      <child link="camera_mount"/>
      <origin xyz="0.24 0.762 0" rpy="0 0 0"/>
    </joint>
    <link name="camera_mount">
      <visual>
        <geometry>
          <box size="0.030 0.030 0.9144"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 ${0.9144 / 2}"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.030 0.030 0.9144"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 ${0.9144 / 2}"/>
      </collision>
    </link>

    <!-- SECOND LINK -->
    <link name="camera_mount_2">
      <visual>
        <geometry>
          <box size="0.030 0.030 0.5"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.25"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.030 0.030 0.5"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.25"/>
      </collision>
    </link>
    <joint name="camera_mount_joint" type="fixed">
      <parent link="camera_mount"/>
      <child link="camera_mount_2"/>
      <!-- edit origin of joints to change camera height -->
      <origin xyz="0 0 0.690875" rpy="${pi/2} 0 0"/>
    </joint>



    <!-- CAMERA -->
    <link name="camera_link">
      <visual>
        <geometry>
          <mesh filename="package://realsense2_description/meshes/d435.dae"/>
        </geometry>
        <origin rpy="0 ${pi/2} 0" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://realsense2_description/meshes/d435.dae"/>
        </geometry>
        <origin rpy="$0 ${pi/2} 0" xyz="0 0 0"/>
      </collision>
    </link>
    <joint name="camera_mount_to_realsense_d435" type="fixed">
      <parent link="camera_mount_2"/>
      <child link="camera_link"/>
      <origin xyz="0 -0.04 0.25" rpy="0 0 ${3*pi/2}"/>
    </joint>


    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>

    <!-- WALL -->
    <link name="wall">
      <visual>
        <geometry>
          <box size="4.44 0.1 2.5"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <geometry>
          <box size="4.44 0.1 2.5"/>
        </geometry>
      </collision>
    </link>
    <joint name="base_to_wall" type="fixed">
      <parent link="table"/>
      <child link="wall"/>
      <origin xyz="1 1.1 0.5"/>
    </joint>


    <!-- ROBOT MOUNT 1 -->
    <link name="robot_mount_1"/>
    <joint name="base_to_robot_mount_1" type="fixed">
      <parent link="table"/>
      <child link="robot_mount_1"/>
      <origin xyz="0.9144 0.5588 0" rpy="0 0 ${3*pi/2}" />
    </joint>

    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}1_"
      parent="robot_mount_1"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <!-- ROBOT MOUNT 2 -->
    <link name="robot_mount_2"/>
    <joint name="base_to_robot_mount_2" type="fixed">
      <parent link="table"/>
      <child link="robot_mount_2"/>
      <origin xyz="1.5748 0.508 0" rpy="0 0 ${3*pi/2}" />
    </joint>

    <!-- ROBOT 2 -->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}2_"
      parent="robot_mount_2"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

  </xacro:macro>

</robot>
