<?xml version="1.0" ?>
<robot name="ZIMMER_test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find ZIMMER_test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find ZIMMER_test_description)/urdf/ZIMMER_test.trans" />
<xacro:include filename="$(find ZIMMER_test_description)/urdf/ZIMMER_test.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0001004407776845725 -3.782256688140103e-16 0.05878685212370678" rpy="0 0 0"/>
    <mass value="2.9848284063454846"/>
    <inertia ixx="0.003517" iyy="0.005044" izz="0.002589" ixy="-0.0" iyz="-0.0" ixz="1.1e-05"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="SLIDER_1">
  <inertial>
    <origin xyz="8.881784197001253e-18 3.819514149405734e-14 0.02263922600329049" rpy="0 0 0"/>
    <mass value="0.04981450503853536"/>
    <inertia ixx="1e-06" iyy="2.3e-05" izz="2.4e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.01225 -0.0905" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/SLIDER_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.01225 -0.0905" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/SLIDER_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="SLIDER_2">
  <inertial>
    <origin xyz="4.440892098500626e-18 3.8229835963576875e-14 0.022639226003290505" rpy="0 0 0"/>
    <mass value="0.04981450503853536"/>
    <inertia ixx="1e-06" iyy="2.3e-05" izz="2.4e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.01225 -0.0905" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/SLIDER_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.01225 -0.0905" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find ZIMMER_test_description)/meshes/SLIDER_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="AUFBAU:1" type="prismatic">
  <origin xyz="0.0 -0.01225 0.0905" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="SLIDER_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0105" lower="-0.0105" effort="100" velocity="100"/>
</joint>

<joint name="AUFBAU:2" type="prismatic">
  <origin xyz="0.0 0.01225 0.0905" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="SLIDER_2"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit upper="0.0105" lower="-0.0105" effort="100" velocity="100"/>
</joint>

</robot>
